@{
    ViewBag.Title = "Researcher Course";
}

<link rel="stylesheet" type="text/css" href="@Url.Content( "~/Content/bootstrap-datetimepicker.css" )" /> 
<script src="@Url.Content( "~/Scripts/Moment.js" )"></script>
<script src="@Url.Content( "~/Scripts/bootstrap-datetimepicker.min.js" )"></script>

<div class="row" id="manageForm" ng-controller="researcherManageFormsInCoursePageController" ng-cloak>
    <div ng-init="course = @ViewBag.Course" />
    <div ng-init="basicUrl = '@ViewBag.BasicUrl'" />
    <h3>Course: {{course.name}}</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Forms in this course</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <input ng-model="search.name" id="search-form" class="form-control" type="text" placeholder="Type form name to search">
                </div>
                <div class="col-md-4"></div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1" style="text-align:center;">Actions</th>
                        <th class="col-md-11">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="form in course.forms | filter:search:strict">
                        <td style="text-align:center;">
                            <a href="#" ng-click="showResearcherEmptyFormModal(form.id)" style="color:#f0ad4e">
                                <i class="fa fa-plus-square fa-lg"></i>
                            </a>
                        </td>
                        <td style="cursor: pointer;" ng-click="gotoManageFormActivity(form.id)">
                            {{form.name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

