@{
    ViewBag.Title = "Manage Course";
}

<div class="row" ng-controller="adminManageCoursePageController" ng-cloak>
	<div ng-init="course = @ViewBag.Course" />
    <div ng-init="addExistingUserModalTemplate = '@ViewBag.AddExistingUserToCourserModalTemplate'" />
    <div ng-init="removeExistingUserModalTemplate = '@ViewBag.RemoveExistingUserToCourserModalTemplate'" />
    <div ng-init="changeCourseNameModalTemplate = '@ViewBag.ChangeCourseNameModalTemplate'" />
    <div ng-init="addNewUserToCourserModalTemplate = '@ViewBag.AddNewUserToCourserModalTemplate'" />

    <h3>Course: {{course.name}}<button class="btn btn-primary" ng-click="showChangeCourseNameModal()">...</button></h3>

    <div class="panel panel-default">
        <div class="panel-heading">Researchers in this course</div>
        <div class="panel-body">
            <button class="btn btn-success" ng-click="showAddExisitingUserModal()">Add existing</button>
            <button class="btn btn-primary" ng-click="showAddNewUserModal()">Create new</button>
            <button class="btn btn-danger" ng-click="showRemoveExisitingUserModal()" ng-disabled="selectedUsers(false).length==0">Remove from course</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-11">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="researcher in course.researchers">
                    <td style="text-align:center">
                        <input type="checkbox" ng-model="researcher.isSelected" />
                    </td>
                    <td>
                        {{researcher.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Forms in this course</div>
        <div class="panel-body">
            <button class="btn btn-success">Add new</button>
            <button class="btn btn-danger">Remove</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-1">Actions</th>
                    <th class="col-md-10">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in course.forms">
                    <td style="text-align:center">
                        <input type="checkbox" ng-model="form.isSelected" />
                    </td>
                    <td>
                        <a href="#" ng-click="gotoManageCoursePage(course.Id)">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-picture-o"></i>
                        </a>
                    </td>
                    <td>
                        {{form.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>