@{
    ViewBag.Title = "Редактор груп";
}
<div class="row" id="manageCourse" ng-controller="adminManageCoursePageController" ng-cloak>
    <div ng-init="course = @ViewBag.Course" />
    <div ng-init="addExistingUserModalTemplate = '@ViewBag.AddExistingUserToCourserModalTemplate'" />
    <div ng-init="removeExistingUserModalTemplate = '@ViewBag.RemoveExistingUserToCourserModalTemplate'" />
    <div ng-init="changeCourseNameModalTemplate = '@ViewBag.ChangeCourseNameModalTemplate'" />
    <div ng-init="addNewUserToCourserModalTemplate = '@ViewBag.AddNewUserToCourserModalTemplate'" />
    <div ng-init="removeExistingFormsModalTemplate = '@ViewBag.RemoveExistingFormsModalTemplate'" />

    @*$("#formBuilder").val()*@
    <div id="myModal" class="modal fade" role="dialog">
        @Html.Partial( "~/Views/Admin/_AddNewFormModal.cshtml" );
    </div>

    <h3>Група досліджень: {{course.name}}<button class="btn btn-primary" ng-click="showChangeCourseNameModal()">...</button></h3>
    <div class="panel panel-default">
        <div class="panel-heading">Дослідники</div>
        <div class="panel-body">
            <button class="btn btn-success" ng-click="showAddExisitingUserModal()">Додати</button>
            <button class="btn btn-primary" ng-click="showAddNewUserModal()">Зареєструвати</button>
            <button class="btn btn-danger" ng-click="showRemoveExisitingUserModal()" ng-disabled="selectedUsers(false).length==0">Видалити</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-11">Ім\'я дослідника</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="researcher in course.researchers">
                    <td style="text-align:center">
                        <input type="checkbox" ng-model="researcher.isSelected" />
                    </td>
                    <td>
                        {{researcher.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Форми</div>
        <div class="panel-body">
            <button class="btn btn-success" ng-click="showAddNewFormModal(true,null)">Додати нову</button>
            <button class="btn btn-danger" ng-click="showRemoveFormsModal()" ng-disabled="selectedForms(false).length==0">Видалити</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-1">Дії</th>
                    <th class="col-md-10">Назва</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in course.forms">
                    <td style="text-align:center">
                        <input type="checkbox" ng-model="form.isSelected" />
                    </td>
                    <td>
                        <a href="#" ng-click="showAddNewFormModal(false, form)">
                            <i class="fa fa-cog"></i>
                        </a>
                    </td>
                    <td>
                        {{form.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        'use strict';
        $('textarea').formBuilder();
    });
</script>